<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MapLibre in Spring Boot</title>
  <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
  <!-- maplibreのCSSを上書きする -->
  <link rel="stylesheet" th:href="@{/style/style.css}" />
  <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
  <style>
    html, body { margin: 0; padding: 0; height: 100%; }
    #map { height: 100vh; width: 100%; }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div id="map"></div>

  <script>
    const map = new maplibregl.Map({
      container: 'map',
      //style: 'https://demotiles.maplibre.org/style.json',
	  style: 'https://tile.openstreetmap.jp/styles/osm-bright-ja/style.json',
	  // style: 'https://tile.nextgis.com/api/styles/geography-class/style.json',
      center: [140.39, 37.40], // 郡山駅付近
      zoom: 13,
	  pitchWithRotate: false, // 右クリックでの傾き回転を無効
	  dragRotate: false       // マウスでの回転を無効
    });
    // map.addControl(new maplibregl.NavigationControl());
	
	// マップのラベルサイズを大きくする
	map.on('load', () => {
	  map.touchZoomRotate.disableRotation();
	  map.dragRotate.disable();
	  // レイヤーの一覧からテキスト表示のレイヤーを探して変更
	  const layers = map.getStyle().layers;
	  layers.forEach(layer => {
	    if (layer.type === 'symbol' && layer.layout && layer.layout['text-size']) {
	      // すべてのラベルサイズを大きく（例：現在より +4）
	      const newSize = typeof layer.layout['text-size'] === 'number'
	        ? layer.layout['text-size'] + 8
	        : 20; // fallback size
	      map.setLayoutProperty(layer.id, 'text-size', newSize);
	    }
	  });
	});
	
	// コメントを残す
	map.on('click', (e) => {
	  const message = prompt("ここで何をしますか？");
	  if (message) {
		const htmlComment = `
		  <div style="
		    font-size:20px;
		    color:#000000;
		  ">
		   ${message}
		  </div>
		`;
	    new maplibregl.Popup({
			closeButton: false  // ← これでバツボタンが非表示になる
		})
	      .setLngLat(e.lngLat) // コメントを表示する場所
	      .setHTML(htmlComment)
	      .addTo(map);

		// ユーザーID、日時、コメント、場所、制限をDBに登録する
		posMsg({"userId":1,
		"startTime":"2025-06-04T14:30",
		"endTime":"2025-06-04T17:30",
		"message":message,
		"lat":e.lngLat.lat,
		"lng":e.lngLat.lng,
		// "restrict":[1,2,3],
		});
	  }
	});

	function posMsg(inpMsg){
	$.ajax({
		type: "POST",
		// url: "http://localhost:8080/area-info",
		url: "http://192.168.1.17:8080/post-message",
		contentType: "application/json",
		data:JSON.stringify(inpMsg),
		dataType:"json"
	}).done(function(data){
		// 成功時の処理
		id_in_area = data;
		console.log(data);
	}).fail(function(){
		// 失敗時の処理
		console.log("失敗");
	}).always(function(){
		// 成功、失敗にかかわらず実行する処理
	});
	}
  </script>
</body>
</html>