<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link rel="stylesheet" th:href="@{style/style.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
	<!-- ログイン画面を表示 -->
	<div id="user-login">
		<form>
		    <input id="userName" type="text" name="username" placeholder="Username">
		    <input id="passWord" type="password" name="password" placeholder="Password">
		    <p id="login-btn">Login</p>
		</form>
	</div>
	<!-- ユーザー情報を表示 -->
	<div id="user-profile" class="display-none">
		<p>ユーザー情報</p>
	</div>
</body>
</html>
<script>
	$(function(){
		// クッキーにユーザー情報が登録されているか確認
		if ($.cookie("userName")) {
			// ユーザー情報を表示する
			$("#user-profile").removeClass("display-none");
			// ログイン画面を非表示にする
			$("#user-login").addClass("display-none");
		};

		$("#login-btn").on("click",function(){
			// 入力されたデータをサーバーに送る
			var userName = $("#userName").val();
			var passWord = $("#passWord").val();
			$.ajax({
				type: "POST",
				url: "http://localhost:8080/entry",
				data:{userName:userName,passWord:passWord},
				dataType:"json"
			}).done(function(data){
				if (data.name) {
					// 成功時の処理
					$("#userName").val(data.name);
					$("#passWord").val(passWord);
					console.log(data.name);
					// クッキーに値を登録
					$.cookie("userName", data.name);
					$.cookie("userId", data.id);					
				}
			}).fail(function(){
				// 失敗時の処理
				console.log("失敗");
			}).always(function(){
				// 成功、失敗にかかわらず実行する処理
			});
		})
	})
</script>