<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="UTF-8">
  <title>集狼｜人狼メンバー募集掲示板</title>
  <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
  <!-- maplibreのCSSを上書きする -->
  <link rel="stylesheet" th:href="@{/style/main-common.css}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
</html>