@charset "UTF-8";

/* PC (幅1025px以上) */

/* イベント作成ステップ */
.step {
  margin-bottom: 20px;
}

/*登録フォーム下部のボタンレイアウト*/
.set-button {
	width: 200px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	box-sizing:border-box;
}

/* 吹き出し本体 */
.mapboxgl-popup-content, .maplibregl-popup-content {
    background: #fefefe; /* やや明るい白 */
    border-radius: 12px;
    border: 2px solid #000; /* 濃いグレーで締まった印象 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* 立体感 */
    padding: 5px;
    pointer-events: auto;
    position: relative;
    font-family: "Segoe UI", "Helvetica Neue", "Arial", sans-serif; /* モダンフォント */
	/* 全体の pointer-events を禁止 */
	pointer-events: none;
}

/* 吹き出しの先端（三角形） */
.mapboxgl-popup-tip, .maplibregl-popup-tip {
    border: 10px solid transparent;
    height: 0;
    width: 0;
    z-index: 1;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: #000; /* 本体のborder色と合わせる */
}

/* 吹き出し内のコンテンツ */
.popup-contents {
    font-size: 12px;
    color: #000; /* しっかり黒め */
    line-height: 1.5;
}

/* 「詳細」ボタン風 */
.popup-contents #show-details {
    display: inline-block;
    margin-top: 8px;
	width: 100%;
    padding: 5px;
/*    background-color: #007BFF;*/
	background: linear-gradient(90deg, #001133, #003366);
	text-shadow: 0 0 2px #33ccff, 0 0 6px #00ccff;
	box-shadow: 0 0 10px #005577, 0 0 20px #00ccff inset;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	/* ここだけタップ可能に戻す */
	pointer-events: auto;
	transition: background-color 0.3s;
}


.popup-contents a {
    color: #000000;
    text-decoration: none;
}

/* タブレット (幅601px～1024px) */
@media (min-width: 601px) and (max-width: 1024px) {

	/*登録フォーム下部のボタンレイアウト*/
	.set-button {
		width: 200px;
		padding: 5px;
		display: flex;
		flex-direction: row;
		justify-content:flex-start;
		box-sizing:border-box;
	}
}

/* スマホ (幅600px以下) */
@media (max-width: 600px) {
	
	/*登録フォーム下部のボタンレイアウト*/
	.set-button {
		width: 200px;
		padding: 5px;
		display: flex;
		flex-direction: row;
		justify-content:flex-start;
		box-sizing:border-box;
	}
}



