<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">
<head>
  <link rel="stylesheet" th:href="@{/style/info.css}" />
</head>
<body>
<!-- ON/OFFの切替エリアを挿入 -->
<div th:insert="~{components/body :: switch-area}"></div>
<div id="total-area">
  <div id="top-area">
	<a href="/"><img id="logo" src="/img/shuulogo.png" /></a>
  </div>
</div>
<div id="event-list">
	<div class="event">
	 <h1>このサイトについて</h1>
	 <p>集狼は、人狼ゲームのメンバー募集サイトです。誰でも利用する事ができます。</p>
	 <p>オンライン人狼（通話アプリを使用）の募集。オフライン人狼（直接会って）の募集。両方の募集が可能です。</p>
	 <p>人狼は面白いゲームですが、参加者を集めるのが大変だと感じています。</p>
	 <p>とくにオフライン人狼の場合、ボードゲームバーのような、気の利いたお店が無い田舎では、人集めが大変です。</p>
	 <p>もっと気軽に、やりたい時に、いつでも、そういった環境を作れればと思いました。</p>
	 <p>このサイトを通して、沢山のかたが人狼にハマって貰えれば本望です。</p>
	 <h1>ONLINEでのメンバー募集について</h1>
	 <p>このサイトの上部にある「ONLINE」ボタンを押すと、ONLINEメンバー募集掲示板が表示されます。</p>
	 <p>現段階では、このサイトはメンバー募集機能しか無い為、実際にPLAYする際は、なにかしらの通話ツールが必要になります。</p>
	 <h1>OFFLINEでのメンバー募集について</h1>
	 <p>このサイトの上部にある「OFFLINE」ボタンを押すと、OFFLINEメンバー募集掲示板が表示されます。</p>
	 <p>サイトにログイン後、地図上をタップする事で、イベントを開く場所を決める事が出来ます。</p>
	 <p>OFFLINEの場合、直接会って人狼をPLAYする事になりますので、より臨場感のある人狼が楽しめます。</p>
	</div>
</div>
<!-- フッターエリアを挿入 -->
<div th:insert="~{components/body :: footer-area}"></div>
<script th:src="@{/js/common.js}"></script>
</body>
</html>