<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">

<head>
  <link rel="stylesheet" th:href="@{/style/sub-common.css}" />
</head>

<body>
  <!-- ON/OFFの切替エリアを挿入 -->
  <div th:insert="~{components/body :: switch-area}"></div>

  <div id="card-folder">
    <div class="card">
      <!-- バツボタン -->
      <button class="close-button" onclick="goTop()">×</button>

      <h1>ログイン</h1>
      <form id="loginForm" method="post" action="/login">
        <label>メールアドレス:</label>
        <input type="email" name="address" required>

        <label>パスワード:</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn">ログイン</button>
      </form>

      <a href="/register">新規登録はこちら</a><br/>

	  <!-- エラーメッセージ or 完了メッセージ -->
	  <p th:if="${error}" th:text="${error}" style="color:red;"></p>
	  <p th:if="${message}" th:text="${message}" style="color:green;"></p>
    </div>
  </div>

  <script th:src="@{/js/common.js}"></script>
</body>

</html>
