@charset "UTF-8";

/*吹き出しのデザイン*/
.mapboxgl-popup-content, .maplibregl-popup-content {
    background: #ffffff;
    border-radius: 10px;
	border: 2px solid black;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, .1);*/
    padding: 15px 10px;
    pointer-events: auto;
    position: relative;
}

.mapboxgl-popup-tip, .maplibregl-popup-tip {
    border: 10px solid transparent;
    height: 0;
    width: 0;
    z-index: 1;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: #000000;
}

/**/

/*.leaflet-popup-content {*/
/*  font-size: 50px;*/
/*}*/

/*html {*/
/*	height: 100%;*/
/*	font-size: 30px;*/
/*}*/

/*body {*/
/*	height: 100%;*/
/*	margin: 0;*/
/*	background-color: white;*/
/*}*/

/*.main {*/
/*	position: relative;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: flex-start;*/
/*	align-items: center;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	box-sizing:border-box;*/
/*	border: 1px solid black;*/
/*	overflow: hidden;	*/
/*}*/

/*.map-area {*/
/*	position: relative;*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	justify-content: flex-start;*/
/*	align-items: flex-start;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	overflow: scroll;*/
/*	box-sizing:border-box;*/
/*	border: 1px solid red;*/
/*}*/

/*.izumigamori{*/
/*	position: absolute;*/
/*	top:250px;*/
/*	left:250px;*/
/*}*/

/*.maruju{*/
/*	position: absolute;*/
/*	top:400px;*/
/*	left:100px;*/
/*}*/

/*.ootomo{*/
/*	position: absolute;*/
/*	top:3600px;*/
/*	left:6300px;*/
/*}*/

/*.kawasemi{*/
/*	position: absolute;*/
/*	top:2450px;*/
/*	left:4400px;*/
/*}*/

/*.store-info{*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	align-items: flex-start;*/
/*	width: 100%;*/
/*	height: 10%;*/
/*	box-sizing:border-box;*/
/*	border: 1px solid red;*/
/*}*/

/*観光地の情報*/
/*#message-set{*/
/*	width: 100%;*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	font-size: 50px;*/
/*}*/

/*アニメーションの追加*/
/*.animation{*/
/*	animation-name:sun-rise;*/
/*	animation-duration:3s;*/
/*	animation-timing-function: linear;*/
/*	animation-delay:0s;*/
/*	animation-iteration-count:1; 回数*/
/*}*/

/*@keyframes sun-rise {*/
/*  from {*/
/*     ビューポートを通過して太陽を下に押し下げる */
/*    transform: translateX(100vw);*/
/*  }*/
/*  to {*/
/*     太陽を既定の位置に戻す */
/*    transform: translateX(-100vw);*/
/*  }*/
/*}*/


/*要素の非表示*/
/*.display-none{*/
/*	display:none;*/
/*}*/



/*モーダルボタン*/

/*モーダルを開くボタン*/
/*.modal-open{*/
/*	position: fixed;*/
/*	display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    bottom: 10px;*/
/*    right: 10px;*/
/*	width: 300px;*/
/*	height: 50px;*/
/*	font-weight: bold;*/
/*	color: #fff;*/
/*	background: #000;*/
/*	margin: auto;*/
/*	cursor: pointer;*/
/*	transform: translate(-50%,-50%);*/
/*}*/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
/*.modal-container{*/
/*	position: fixed;*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	text-align: center;*/
/*	background: rgba(0,0,0,50%);*/
/*	padding: 40px 20px;*/
/*	overflow: auto;*/
/*	opacity: 0;*/
/*	visibility: hidden;*/
/*	transition: .3s;*/
/*    box-sizing: border-box;*/
/*}*/
/*モーダル本体の擬似要素の指定*/
/*.modal-container:before{*/
/*	content: "";*/
/*	display: inline-block;*/
/*	vertical-align: middle;*/
/*	height: 100%;*/
/*}*/
/*モーダル本体に「active」クラス付与した時のスタイル*/
/*.modal-container.active{*/
/*	opacity: 1;*/
/*	visibility: visible;*/
/*}*/
/*モーダル枠の指定*/
/*.modal-body{*/
/*	position: relative;*/
/*	display: inline-block;*/
/*	vertical-align: middle;*/
/*	max-width: 500px;*/
/*	width: 90%;*/
/*}*/
/*モーダルを閉じるボタンの指定*/
/*.modal-close{*/
/*	position: absolute;*/
/*	display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*	top: -40px;*/
/*	right: -40px;*/
/*	width: 40px;*/
/*	height: 40px;*/
/*	font-size: 40px;*/
/*	color: #fff;*/
/*	cursor: pointer;*/
/*}*/
/*モーダル内のコンテンツの指定*/
/*.modal-content{*/
/*	background: #fff;*/
/*	text-align: left;*/
/*	padding: 30px;*/
/*}*/

